:root {
    --strong-color: #707070;
    --primary-color: #E1E1E1;
    --base-color: #EFEFEF;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 45px;
    color: var(--strong-color);
    background: var(--base-color);
    display: flex;
    overflow: hidden;
}

/* >>>>> PAGE LOADER */

.loader-container {
    height: calc(100vh - 90px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    overflow: hidden;
}

.loader-container .loading {
    display: flex;
    align-items: center;

    justify-content: center;
    width: calc(100% + 90px);
    transform: translateX(15%);
}

.loading h1 {
    font-size: 4vw;
    font-weight: 300;
    letter-spacing: 0.08em;
    margin-left: 1.7vw;
    opacity: 0;
}

.loading img {
    width: 5vw;
    opacity: 0;
    transition: width 1s, border-radius 1s;
}

.loading-creator {
    position: absolute;
    bottom: 0;
}

/* >>>>> PAGE LAYOUT */

.header-main-footer-container, .navigation-indicator-container, .copyright-container {
    display: none!important;
}

.header-main-footer-container, .navigation-indicator-container {
    height: calc(100vh - 90px);
    
}

.header-main-footer-container {
    width: 80%;
}

.navigation-indicator-container {
    width: 20%;
}

header, footer {
    max-height: 10vh;
    height: 10vh;
}

main {
    max-height: calc(100% - 20vh);
    height: calc(100% - 20vh);
    overflow-y: auto;
    scroll-behavior: smooth;
}

/* >>>>> HEADER */

.header-main-footer-container header {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
    opacity: 0;
}

.header-main-footer-container header h1 {
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 0.06em;
    margin-left: 10px;
}

.header-main-footer-container header img {
    width: 30px;
}

/* >>>>> FOOTER */

.header-main-footer-container footer nav,
.header-main-footer-container footer nav ul {
    height: inherit;
}
.header-main-footer-container footer nav ul {
    display: flex;
    list-style: none;
    align-items: flex-end;
    flex-wrap: wrap;;
    z-index: 1;
}

.header-main-footer-container footer nav ul li {
    padding: 15px 15px 15px 0;
}

.header-main-footer-container footer nav ul li:hover a {
   background-color: var(--primary-color);
}

.header-main-footer-container footer nav ul li a {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.06em;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--strong-color);
    transition: all 0.5s;
}

.header-main-footer-container footer nav ul li a.active {
    background-color: var(--strong-color)!important;
    color: var(--base-color)!important;
}

.navigation-menu button {
    margin-top: 5px;
    padding: 5px 5px 1px 0;
    border: none;
    display: none;
    transition: all 0.5s;
    background-color: transparent;
    background: transparent;
}

.navigation-menu svg {
    width: 5vw;
}

.navigation-menu {
    transform: translateX(150%);
}

/* >>>>> CONTENT */

.header-main-footer-container main section.page {
    /* height: 100%; */
    min-height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 5vw;
    padding: 5px 0 0;
}

.header-main-footer-container #content {
    overflow: hidden;
    transform: translateX(-150%);
}

.header-main-footer-container #content:hover {
    overflow: auto;
}


/* >>>>> NAVIGATION INDICATOR */

.navigation-indicator-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.navigation-indicator-container > svg {
    height: inherit;
}

.navigation-indicator-container .navigation-dot-indicator {
    display: flex;
    flex-direction: column;
}

.navigation-indicator-container .navigation-dot-indicator a {
    margin: 10px 0;
    text-decoration: none;
    color: var(--strong-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: translateX(13px);
    transition: all 0.5s;;
}

.navigation-indicator-container .navigation-dot-indicator a.active {
    transform: translateX(15px);
}

.navigation-indicator-container .navigation-dot-indicator a span {
    padding: 2px 5px 1px;
    font-size: 10px;
    text-align: center;
    transition: all 0.5s;
    border-radius: 2px;
}

.navigation-indicator-container .navigation-dot-indicator a:hover span {
    background-color:var(--primary-color);
}
.navigation-indicator-container .navigation-dot-indicator a.active:hover span {
    background-color: var(--strong-color);
    color: var(--base-color);
}

.navigation-indicator-container .navigation-dot-indicator a.active span {
    font-weight: bold;
    font-size: 12px;
    padding-top: 2px;
}

/* COPYRIGHT */

.copyright-container {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--strong-color);
    color: var(--base-color);
    padding: 5px;
    line-height: 0.6em;
    text-align: center;
}

.copyright-container small {
    font-size: 10px;
}

body.error {
    background-color: #ffffff;
}

body.error .header-main-footer-container main {
    background-color: var(--base-color);
}

#errorMessage {
    position: fixed;
    top: calc(10vh + 45px);
    height: calc(100vh - (20vh + 90px));
    background-color: var(--base-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 5vw;
    letter-spacing: 0.08em;
    font-weight: lighter;
    display: none;
}

/* >>>>> HOME */

#home {
    align-items: center;
}

/* Cursor */
.typewriter-container {
    text-align: center;
}

.typewriter-container > .typewriter {
    border-right: 0.1rem solid var(--strong-color);
    font-weight: lighter;
    letter-spacing: 0.08em;
}

.typewriter-container > .typewriter > b, .typewriter-container > .typewriter > strong {
    animation-name: fadeInTxt;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.typewriter-container > .typewriter.blink {
    border-color: transparent;
}

@keyframes fadeInTxt {
    0% {
        font-size: 1em;
    }

    50% {
        font-size: 1.2em;
    }

    100% {
        font-size: 1em;
    }
}

/* >>>>> ABOUT ME */

#aboutme, #workexperience, #skills {
    overflow: hidden;
}

.skills-line-vertical:before,
.work-experience-line-vertical:before,
.about-me-line-vertical:before {
    content: "About Me";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    padding: 5px;
}

/* .work-experience-line-vertical:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border: 5px solid var(--primary-color);
    background-color: var(--primary-color);
} */

.about-me-line-vertical, .work-experience-line-vertical, .skills-line-vertical {
    width: 100%;
    min-height: calc(100vh - 20vh);
    border-left: 2px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(110%);
    position: relative;
}

.line-horizontal {
    background-color: var(--primary-color);
    height: 2px;
    width: 3vw;
    margin-right: 20px;
    transform: translateX(-110%);
}

.personal-details {
    width: 100%;
    display: flex;
    align-items: center;
    /* margin-bottom: 40px; */
}

.personal-details img {
    max-height: 20vh;
    opacity: 0;
}

.personal-information {
    height: inherit;
    line-height: 0.36em;
    padding: 0 20px;
    transform: translateX(100vw);
}

.personal-information h1 {
    font-size: 0.4em;
    letter-spacing: 0.02em;
}

.personal-information p:first-of-type {
    margin-top: 0.5em;

}

.personal-information p {
    font-size: 0.25em;
    letter-spacing: 0.02em;
}

.award-details,
.program-details {
    min-height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.award-information,
.program-information {
    line-height: 0.24em;
    opacity: 0;
}

.award-information h2,
.program-information h2 {
    font-size: 0.22em;
    align-items: center;
    display: flex;
}

.award-information svg,
.program-information svg {
    width: 2em;
    margin-left: 4px;
}

.award-information p:first-of-type,
.program-information p:first-of-type {
    margin-top: 5px;
}

.award-information p:last-of-type,
.program-information p:last-of-type {
    font-size: 0.15em;
}

.award-information p,
.program-information p {
    font-size: 0.17em;
    font-weight: 300;
}

/* WORK EXPERIENCE */

.work-experience-line-vertical:before {
    content: 'Work Experience';
}

.work-experience-line-vertical {
    align-items: flex-start;
}

.latest-work, .past-work, .skills-details {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 10vh;
}

.past-work {
    margin-bottom: 15px;
}

.latest-work h1 {
    display: flex;
    align-items: center;
}

.latest-work-details,
.past-work-details {
    opacity: 0;
}

.past-work-details svg,
.latest-work-details svg {
    width: 1.5em;
    margin-left: 4px;
}

.past-work h2 {
    display: flex;
    align-items: center;
}

.past-work p, .latest-work p {
    font-weight: 300;
}

/* SKILLS */

.skills-line-vertical:before {
    content: 'Skills';
}

.skills-line-vertical {
    transform: initial;
}

.skills-details {
    margin-bottom: 15px;
}

.skills-details .skills-information {
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100vw);
}

.skills-pie-words {
    display: flex;
    margin-bottom: 10px;
}

.skills-information p {
    font-weight: 300;
}

.skills-words span {
    font-weight: bold;
}

.skills-words {
    display: flex;
    flex-direction: column;
}

.skills-words, .pie-chart {
    margin: 5px;
}

.pie-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: conic-gradient(var(--strong-color) 0deg, var(--primary-color) 0); 
}

@media only screen and (min-width: 769px) {

    .header-main-footer-container footer nav ul li a {
        opacity: initial!important;
    }

    .navigation-menu ul {
        width: initial!important;
    }

    .navigation-indicator-container {
        transform: translateY(-150%);
    }

    .typewriter-container > .typewriter { 
        font-size: 0.4em;
    }

    .personal-details {
        padding: 65px 0 45px;
    }

    .personal-details img {
        max-height: 20vh;
    }

    .personal-information {
        line-height: 0.36em;
    }

    .personal-information h1 {
        font-size: 0.4em;
    }

    .personal-information p {
        font-size: 0.25em;
    }

    .line-horizontal {
        margin-right: 20px;
    }

    .award-information, .program-information {
        line-height: 0.24em;
    }

    .award-information h2, .program-information h2 {
        font-size: 0.22em;
    }

    .award-information p, .program-information p {
        font-size: 0.17em;
    }

    .award-information p:last-of-type, .program-information p:last-of-type {
        font-size: 0.15em;
    }

    .latest-work {
        padding: 65px 0 20px;
    }

    .latest-work h1 {
        font-size: 0.4em;
    }

    .latest-work p:first-of-type {
        font-size: 0.3em;
    }

    .latest-work p:last-of-type {
        font-size: 0.2em;
    }

    .latest-work-details {
        line-height: 0.4em;
    }

    .latest-work p:first-of-type {
        margin-top: 5px;
    }

    .past-work h2 {
        font-size: 0.2em;
    }

    .past-work p:first-of-type {
        font-size: 0.17em;
        margin-top: 5px;
    }

    .past-work p:last-of-type {
        font-size: 0.15em;
    }

    .past-work-details {
        line-height: 0.24em;
    }

    .skills-line-vertical:before,
    .work-experience-line-vertical:before,
    .about-me-line-vertical:before {
        font-size: 0.2em;
    }
    
    .skills-details:first-of-type {
        padding: 65px 0 20px;
    }

    .pie-chart {
        width: 5vw;
        height: 5vw;
    }

    .skills-information h1 {
        font-size: 0.3em;
    }
    
    .skills-information p {
        font-size: 0.2em;
    }

    .copyright-container {
        border-radius: 5px 0 0 0;
    }

    #errorMessage {
        width: calc(100% - (20% + 90px));
    }
}

@media only screen and (max-width: 768px) {

    body {
        padding: 10px 20px;
    }

    main {
        scroll-behavior: initial;
    }

    .navigation-indicator-container {
        display: none!important;
    }

    .header-main-footer-container {
        width: 100%;
        height: calc(100vh - 20px);
    }

    .header-main-footer-container #content {
        overflow: auto;
    }

    .navigation-menu {
        transform: initial;
    }

    .navigation-menu button {
        display: inline-block;
        position: fixed;
        top: calc((100% - 20vh) - 20px + (10vh + 10px))!important;
        transform: translateX(100vw);
    }

    .navigation-menu.open button {
        background-color: var(--strong-color);
        border-radius: 0 0 5px 0;
        padding: 5px 5px 1px;
    }

    .navigation-menu.open svg {
        fill: var(--base-color);
    }

    .navigation-menu ul {
        position: absolute;
        top: calc(10vh + 10px);
        width: calc(0% - 40px);
        height: calc((100% - 20vh) - 20px)!important;
        border-radius: 0 0 30px 0;
        background-color: var(--primary-color);

        flex-direction: column;
        align-items: center!important;
        justify-content: space-evenly;

        display: none!important;
        
    }

    .navigation-menu.open ul, .navigation-menu.closing ul {
        display: flex!important;
        height: calc((100% - 20vh) - 20px)!important;
    }

    .header-main-footer-container footer nav ul li a {
        font-size: 4vw;
        padding: 5px 10px;
        opacity: 0;
    }

    .header-main-footer-container footer nav ul li:hover a {
        background-color:var(--primary-color);
    }

    .typewriter-container > .typewriter { 
        font-size: 0.8em;
    }

    .personal-details {
        padding: 40px 0 20px;
    }

    .personal-details img {
        max-height: 10vh;
    }

    .personal-information {
        line-height: 0.66em;
    }

    .personal-information h1 {
        font-size: 0.6em;
    }

    .personal-information p {
        font-size: 0.45em;
    }

    .line-horizontal {
        margin-right: 10px;
    }

    .award-information, .program-information {
        line-height: 0.54em;
    }

    .award-information h2, .program-information h2 {
        font-size: 0.42em;
    }

    .award-information p, .program-information p {
        font-size: 0.37em;
    }

    .award-information p:first-of-type, .program-information p:first-of-type {
        margin: 0;
    }

    .award-information p:last-of-type, .program-information p:last-of-type {
        font-size: 0.35em;
    }

    .latest-work {
        padding: 40px 0 20px;
    }

    .latest-work h1 {
        font-size: 0.6em;
    }

    .latest-work p:first-of-type {
        font-size: 0.5em;
    }

    .latest-work p:last-of-type {
        font-size: 0.4em;
    }

    .latest-work-details {
        line-height: 0.7em;
    }

    .latest-work p:first-of-type {
        margin-top: 0;
    }

    .past-work h2 {
        font-size: 0.4em;
    }

    .past-work p:first-of-type {
        font-size: 0.37em;
    }

    .past-work p:last-of-type {
        font-size: 0.35em;
    }

    .past-work-details {
        line-height: 0.54em;
    }

    .skills-line-vertical:before,
    .work-experience-line-vertical:before,
    .about-me-line-vertical:before {
        font-size: 0.4em;
    }

    .skills-details:first-of-type {
        padding: 40px 0 20px;
    }

    .pie-chart {
        width: 8vw;
        height: 8vw;
    }

    .skills-information h1 {
        font-size: 0.5em;
    }
    
    .skills-information p {
        font-size: 0.4em;
    }

    .copyright-container {
        min-width: 100%;
    }

    #errorMessage {
        width: calc(100% - 40px);
    }

}

/* TEMPORARY */
#hireme {
    align-items: center;
}